@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: transparent;
  background-image: url("https://rare-gallery.com/uploads/posts/4598661-simple-minimalism-gradient.jpg");
  background-repeat: no-repeat;
  /* filter: blur(1px); */
  /* position: absolute; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.headImg {
  height: 300px;
  width: 300px;
  border-radius: 30px;
}

.linkto {
  text-decoration: none;
  color: black;

  display: flex;
  margin-top: 10px;
}

.linkto:hover {
  color: white;
}
